# Trash files from IDE
.idea
.vs

# Trash files from Unreal Engine
Binaries
Intermediate
Saved
Build

# We should not push the assets
Content/Assets
Content/Assets.zip

# Ignore solution because it's changing *everytime*
TakeItBack.sln